/* FONTS */
@font-face {
    font-family: 'slope_operaregular';
    src: url('../assets/fonts/slope_opera-webfont.woff2') format('woff2'),
            url('../assets/fonts/slope_opera-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: '_pepsi_regular';
    src: url('../assets/fonts/pepsi_pl-webfont.woff2') format('woff2'),
            url('../assets/fonts/pepsi_pl-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'robotolight';
  src: url('../assets/fonts/roboto-light-webfont.woff2') format('woff2'),
       url('../assets/fonts/roboto-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'montserratlight';
  src: url('../assets/fonts/montserrat-light-webfont.woff2') format('woff2'),
       url('../assets/fonts/montserrat-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* BASICS */
:root {
    --back-color: rgb(9,22,37);
    --back-color-lighter: rgb(82,53,192);
    --nav-color: white;
    --nav-hover-color: rgba(119,113,247,1);
    --gradient-color:  rgba(68,26,135,0.94);
}

* {
    box-sizing: border-box;
}

html {
    height: 100%;
    min-height: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    -webkit-font-smoothing: antialiased;
}

@-ms-viewport {
    width: device-width;
}

body {
  height: 100%;
  min-height: 100%;
  background: var(--back-color);
  background-position: center;
  margin: 0px 0px 0px 0px;
}

.overbody-1 {
  height: 100%;
  width: 100%;
  z-index: 10;
  top: 0; 
  left: 0; 
  position: fixed;
  background: linear-gradient(90deg, rgba(0,0,0,0.8) 0%, rgba(9,22,37,0.8) 40%, rgba(9,22,37,0.4) 100%);
  opacity: 0.4;
}

.overbody-2 {
  height: 100%;
  width: 100%;
  z-index: 10;
  top: 0; 
  left: 0; 
  position: fixed;
  background: radial-gradient(
    circle at top left,
    var(--gradient-color), 
    transparent 20vw
  ),
  radial-gradient(
    circle at top right,
    var(--gradient-color), 
    transparent 20vw
  ),
  radial-gradient(
    at bottom left,
    var(--gradient-color), 
    transparent 80vw
  ),
  radial-gradient(
    at bottom right,
    var(--gradient-color), 
    transparent 80vw
  );
  opacity: 0.3;
}

/* HEADER */

header {
    height: auto;
    position: relative;
    width: 100%;
}

  .spacefinal {
    display: none;
    height: auto;
    max-width: 100%;
  }

  .spacefinalmobile {
    display: none;
    height: auto;
    max-width: 100%;
  }
  
  .headercontainer {
    pointer-events: none;
    z-index: 30;
    position: absolute;
    width: 100%;
    height: 90vh;
    top: 0;
  }

  .topbar {
    height: 15vw;
    width: 100%;
    top: 0;
    display: flex;
    position: fixed;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    pointer-events: visible;
    font-family: 'slope_operaregular';
    background-color: transparent;
    margin-left: 5vw;
  }
  
    .logo a {
      color: var(--nav-color);
      text-align: start;
      text-decoration: none;
      font-size: 7vw;
      font-weight: lighter;
    }
  
    .logo a:hover {
      background-color: transparent;
      color: var(--nav-hover-color);
    }
  
  .topnav {
    pointer-events: visible;
    background-color: transparent;
    margin-right: 5vw;
  }
  
    .topnav a {
      float: center;
      color: var(--nav-color);
      text-align: center;
      text-decoration: none;
      font-size: 16px;
      padding-left: 12px;
    }
  
    .topnav a:hover {
      background-color: transparent;
      color: var(--nav-hover-color);
    }

  .bottombar {
    width: 100%;
    height: auto;
    bottom: 0;
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: space-around;
  }

  .listentotitle {
    font-family: 'slope_operaregular';
    color: var(--nav-color);
    font-size: 6vw;
    text-align: start;
    margin: 2% 0% 2% 5%;
  }

  .listentotitle span {
    color: var(--nav-hover-color);
  }

  .links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .linkto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 15vw;
    width: 15vw;
    color: var(--back-color);
    background-color: var(--nav-color);
    font-size: 7vw;
    text-align: center;
    margin: 2% 0% 2% 0%;
    box-sizing: border-box;
    border-color: var(--nav-color);
    border-style: solid;
    border-radius: 100%;
    border-width: 4px;
    cursor: pointer;
    pointer-events: visible;
  }

    .linkto:hover {
      color: var(--nav-hover-color);
    }

  #modal {
    background: var(--back-color-lighter);
    display: none;
    position: absolute;
    top: 40vh;
    width: 90%;
    z-index: 999;
    overflow: hidden;
    transition: 0.25;
    align-self: center;
    border-radius: 4px;
  }

  .modal-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .modal-title {
    width: 100%;
    height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

    .modal-title h2 {
      font-size: 6vw;
      font-family: 'robotolight';
      color: var(--nav-color);
    }

    .pp {
      height: 20vw;
      width: 20vw;
      border-radius: 100%;
      background-image: url("../assets/images/LGE/pp.jpeg");
      background-clip: border-box;
      background-position: center;
      background-size: cover;
    }
  
  .modal-content p {
    font-size: 3vw;
    font-family: 'robotolight';
    color: var(--nav-color);
  }
  
  /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) {

      .headercontainer { height: 120vw; }

  }

  /* 1000 and down */
  @media only screen and (max-width: 1000px) {
      .spacefinal {
          display: none;
      }

      .spacefinalmobile {
          display: block;
      }
  }

  /* 1000 and up */
  @media only screen and (min-width: 1001px) {
      .spacefinal {
          display: block;
      }

      .spacefinalmobile {
          display: none;
      }
  }

/* BODY */

.wrapper {
    height: auto;
    position: relative;
    z-index: 30;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.projectdescription {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 5%;
  align-items: center;
}

  .projectdescription p {
    font-size: 3vw;
    text-align: justify;
    color: var(--nav-color);
    font-weight: 300;
    margin-bottom: 0;
    font-family: 'robotolight';
  }

  #texttoexpand {
    display: none;
  }

  #expand {
    color: var(--nav-color);
    cursor: pointer;
    animation-name: makevisible;
    animation-duration: 4s;
    animation-iteration-count:infinite;
    display: inline-block;
    height: 5vw;
  }

  .spotifypreview {
    margin: 5%;
  }

  @keyframes makevisible {
    0% {opacity: 67%; font-size: 4vw;}
    25% {opacity: 100%; font-size: 5vw;}
    50% {opacity: 67%; font-size: 4vw;}
    75% {opacity: 100%; font-size: 5vw;}
    100% {opacity: 67%; font-size: 4vw;}
  }

/* FOOTER */

footer {
  width: 100%;
  height: 3%;
  background-color: black;
  position: relative;
  bottom: 0;
  z-index: 30;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

  footer span {
    font-family: 'montserratlight';
    font-stretch: expanded;
    font-size: 1.5vw;
    letter-spacing: 0.4vw;
    color: white;
  }