/* FONTS */
@font-face {
    font-family: 'slope_operaregular';
    src: url('../assets/fonts/slope_opera-webfont.woff2') format('woff2'),
            url('../assets/fonts/slope_opera-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: '_pepsi_regular';
    src: url('../assets/fonts/pepsi_pl-webfont.woff2') format('woff2'),
            url('../assets/fonts/pepsi_pl-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'montserratlight';
  src: url('../assets/fonts/montserrat-light-webfont.woff2') format('woff2'),
       url('../assets/fonts/montserrat-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotoregular';
  src: url('../assets/fonts/roboto-regular-webfont.woff2') format('woff2'),
       url('../assets/fonts/roboto-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

/* BASICS */

:root {
    --back-color: rgb(9,22,37);
    --nav-color: white;
    --nav-hover-color: rgba(119,113,247,1);
    --gradient-color:  rgba(68,26,135,0.94);
    --left-margin: 7vw;
    --right-margin: 7vw;
    --logo-fontsize: 9vw;
    --profile-icons-fontsize: 5vw;
    --linkto-icons-fontsize: 7vw;
    --fld-fontsize: 6vw;
    --description-fontsize: 3.5vw;
    --footer-fontsize: 1.2vw;
    --header-height: 100vw;
    --spotify-height: 120vw;
}

* {
    box-sizing: border-box;
}

html {
    height: 100%;
    min-height: 100%;
    -webkit-font-smoothing: antialiased;
}

@-ms-viewport {
    width: device-width;
}

body {
  height: 100%;
  min-height: 100%;
  background: var(--back-color);
  background-position: center;
  margin: 0px 0px 0px 0px;
}

.overbody-1 {
  height: 100%;
  width: 100%;
  z-index: 10;
  top: 0; 
  left: 0; 
  position: fixed;
  background: linear-gradient(90deg, rgb(9,22,37, 0.75) 0%, rgba(9,22,37,0.5) 40%, rgba(9,22,37,0) 100%);
}

.overbody-2 {
  height: 100%;
  width: 100%;
  z-index: 10;
  top: 0; 
  left: 0; 
  position: fixed;
  background: radial-gradient(
    circle at top left,
    var(--gradient-color), 
    transparent 20vw
  ),
  radial-gradient(
    circle at top right,
    var(--gradient-color), 
    transparent 20vw
  ),
  radial-gradient(
    at bottom left,
    var(--gradient-color), 
    transparent 80vw
  ),
  radial-gradient(
    at bottom right,
    var(--gradient-color), 
    transparent 80vw
  );
  opacity: 0.4;
}

/* HEADER */

header {
    height: auto;
    position: relative;
    width: 100%;
}

  .coverweb {
    height: auto;
    max-width: 100%;
  }
  
  .headercontainer {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: var(--header-height);
    top: 0;
  }

  #topbar {
    z-index: 31;
    width: 100%;
    top: 0;
    padding: var(--right-margin) 0% 4vw 0%;
    display: flex;
    position: fixed;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    pointer-events: visible;
    font-family: 'slope_operaregular';
    background-color: transparent;
    margin: auto var(--right-margin) auto var(--left-margin);
  }
  
    .logo a {
      color: var(--nav-color);
      text-align: start;
      text-decoration: none;
      font-size: var(--logo-fontsize);
      font-weight: lighter;
    }
  
    .logo a:hover {
      background-color: transparent;
      color: var(--nav-hover-color);
    }
  
  .topnav {
    pointer-events: visible;
    background-color: transparent;
    margin: auto var(--right-margin) auto var(--left-margin);
  }
  
    .topnav a {
      color: var(--nav-color);
      text-align: center;
      text-decoration: none;
      font-size: var(--profile-icons-fontsize);
      margin-left: 3vw;
    }
  
    .topnav a:hover {
      background-color: transparent;
      color: var(--nav-hover-color);
    }

  #bottombar {
    z-index: 30;
    width: 100%;
    height: auto;
    bottom: 0;
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: space-around;
  }

  .links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto var(--right-margin) 4% var(--left-margin);
  }

  .linkto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 15vw;
    width: 15vw;
    color: var(--back-color);
    background-color: var(--nav-color);
    font-size: var(--linkto-icons-fontsize);
    text-align: center;
    margin: 2% 0% 2% 0%;
    box-sizing: border-box;
    border-color: var(--nav-color);
    border-style: solid;
    border-radius: 100%;
    border-width: 4px;
    cursor: pointer;
    pointer-events: visible;
  }

    .linkto:hover {
      color: var(--nav-hover-color);
    }

/* BODY */

.wrapper {
    height: auto;
    position: relative;
    z-index: 30;
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin: var(--right-margin) 0% var(--right-margin) 0%;
}

.about {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

  .about span {
    font-family: 'slope_operaregular';
    color: var(--nav-color);
    font-size: var(--fld-fontsize);
    text-align: start;
    margin: 0% var(--right-margin) 2% var(--left-margin);
  }

.projectdescription {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 0% var(--right-margin) 0% var(--left-margin);
  align-items: center;
}

  .projectdescription p {
    font-size: var(--description-fontsize);
    text-align: initial;
    color: var(--nav-color);
    font-weight: 300;
    margin-bottom: 0;
    font-family: 'robotoregular';
  }

  #texttoexpand {
    display: none;
  }

  #expand {
    color: var(--nav-color);
    cursor: pointer;
    animation-name: makevisible;
    animation-duration: 4s;
    animation-iteration-count:infinite;
    display: inline-block;
    height: 5vw;
    margin: 0% var(--right-margin) 5% var(--left-margin);
  }

  #unexpand {
    color: var(--nav-color);
    cursor: pointer;
    animation-name: makevisible;
    animation-duration: 4s;
    animation-iteration-count:infinite;
    display: none;
    height: 5vw;
    margin: 5% var(--right-margin) 5% var(--left-margin);
  }

  .spotifypreview {
    margin: 5% var(--right-margin) 5% var(--left-margin);
    height: var(--spotify-height);
  }

  @keyframes makevisible {
    0% {opacity: 67%; font-size: 4vw;}
    25% {opacity: 100%; font-size: 5vw;}
    50% {opacity: 67%; font-size: 4vw;}
    75% {opacity: 100%; font-size: 5vw;}
    100% {opacity: 67%; font-size: 4vw;}
  }

/* FOOTER */

footer {
  width: 100%;
  height: 3%;
  background-color: black;
  position: relative;
  bottom: 0;
  z-index: 30;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

  footer span {
    font-family: 'montserratlight';
    font-stretch: expanded;
    font-size: var(--footer-fontsize);
    letter-spacing: 0.3vw;
    color: white;
  }

/* RESPONSIVITY */

@media only screen 
and (min-width: 600px)
and (max-width: 899px) {

  #bottombar {
    padding: 0vw 10vw 0vw 10vw;
  }

  .linkto {
    height: 8vw;
    width: 8vw;
    font-size: 4vw;
  }

}
  /* Large devices (laptops/desktops, 900px and up) */
  @media only screen 
    and (min-width: 900px)
    and (max-width: 1099px) {
      :root {
        --logo-fontsize: 6vw;
        --profile-icons-fontsize: 3vw;
        --linkto-icons-fontsize: 5vw;
        --fld-fontsize: 3.5vw;
        --description-fontsize: 2vw;
        --footer-fontsize: 0.8vw;
        --header-height: 100vw; /* TODO REMOVE SI = 100vw */
        --spotify-height: 50vw;
      }

      #topbar {
        padding: 4vw 0% 4vw 0%;
      }

      #bottombar {
        padding: 0vw 10vw 0vw 10vw;
      }
    
      .linkto {
        height: 8vw;
        width: 8vw;
        font-size: 4vw;
      }

      .wrapper {
        margin-bottom: 7vw;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }

      .about {
        width: 70vw;
      }

      .projectdescription {
        padding-right: 0;
      }
  }

  /* Extra large devices (large laptops and desktops, 1100px and up) */
  @media only screen and (min-width: 1100px) {
    :root {
      --logo-fontsize: 5vw;
      --profile-icons-fontsize: 2vw;
      --linkto-icons-fontsize: 3vw;
      --fld-fontsize: 2.5vw;
      --description-fontsize: 1vw;
      --footer-fontsize: 0.6vw;
      --header-height: 100vw; /* TODO REMOVE SI = 100vw */
      --spotify-height: 30vw;
    }

    #topbar {
      padding: 4vw 0% 4vw 0%;
    }

    #bottombar {
      padding: 0vw 10vw 0vw 10vw;
    }
  
    .linkto {
      height: 8vw;
      width: 8vw;
      font-size: 4vw;
    }

    .wrapper {
      margin-bottom: 7vw;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    .about {
      width: 60vw;
    }

    .projectdescription {
      padding-right: 0;
    }
  }