/* FONTS */
@font-face {
    font-family: 'slope_operaregular';
    src: url('../assets/fonts/slope_opera-webfont.woff2') format('woff2'),
            url('../assets/fonts/slope_opera-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: '_pepsi_regular';
    src: url('../assets/fonts/pepsi_pl-webfont.woff2') format('woff2'),
            url('../assets/fonts/pepsi_pl-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* BASICS */
:root {
    --back-color: black;
    --nav-color: white;
    --nav-hover-color: rgba(119,113,247,1);
}

* {
    box-sizing: border-box;
}

html {
    height: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    -webkit-font-smoothing: antialiased;
}

@-ms-viewport {
    width: device-width;
}

body {
    background: rgb(17,43,65);
    background-position: center;
    margin: 0px 0px 0px 0px;
}

/* HEADER */

header {
    height: auto;
    position: relative;
    width: 100%;
}

  .spacefinal {
    display: none;
    height: auto;
    max-width: 100%;
    filter: blur(1px) brightness(80%);
  }

  .spacefinalmobile {
    display: none;
    height: auto;
    max-width: 100%;
    filter: blur(1px) brightness(80%);
  }
  
  .headercontainer {
    pointer-events: none;
    z-index: 30;
    position: absolute;
    width: 100%;
    height: 90vh;
    top: 0;
  }

  .topbar {
    height: 15vw;
    width: 100%;
    top: 0;
    display: flex;
    position: fixed;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .logo {
    pointer-events: visible;
    top: 0;
    left: 0;
    margin-top: 10px;
    margin-left: 10px;
    font-family: 'slope_operaregular';
    background-color: transparent;
  }
  
    .logo a {
      color: var(--nav-color);
      text-align: start;
      text-decoration: none;
      font-size: 24px;
      font-weight: lighter;
    }
  
    .logo a:hover {
      background-color: transparent;
      color: var(--nav-hover-color);
    }
  
  .topnav {
    pointer-events: visible;
    top: 0;
    right: 0;
    margin-top: 18px;
    margin-right: 18px;
    background-color: transparent;
  }
  
    .topnav a {
      float: center;
      color: var(--nav-color);
      text-align: center;
      text-decoration: none;
      font-size: 16px;
      padding-left: 12px;
    }
  
    .topnav a:hover {
      background-color: transparent;
      color: var(--nav-hover-color);
    }

  .bottombar {
    width: 100%;
    height: auto;
    bottom: 0;
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: space-around;
  }

  .listentotitle {
    font-family: 'slope_operaregular';
    color: var(--nav-color);
    font-size: 6vw;
    text-align: start;
    margin: 2% 0% 2% 5%;
  }

  .listentotitle span {
    color: var(--nav-hover-color);
  }

  .links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .linkto {
    height: 15vw;
    width: 15vw;
    color: var(--back-color);
    background-color: var(--nav-color);
    font-size: 7vw;
    text-align: center;
    margin: 2% 0% 2% 0%;
    box-sizing: border-box;
    border-color: var(--nav-color);
    border-style: solid;
    border-radius: 100%;
    border-width: 4px;
  }

    .linkto:hover {
      color: var(--nav-hover-color);
    }
  
  /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) {
      .logo a { font-size: 16px; }
  
      .topnav a {
      font-size: 12px;
      margin-top: 18px;
      }

      .headercontainer { height: 120vw; }

  }

  /* 1000 and down */
  @media only screen and (max-width: 1000px) {
      .spacefinal {
          display: none;
      }

      .spacefinalmobile {
          display: block;
      }
  }

  /* 1000 and up */
  @media only screen and (min-width: 1001px) {
      .spacefinal {
          display: block;
      }

      .spacefinalmobile {
          display: none;
      }
  }

/* BODY */

.wrapper {
    height: 50vh;
    background: linear-gradient(180deg, rgba(17,43,65,1) 0%, rgba(49,39,145,1) 33%, rgba(57,53,147,1) 66%, rgba(119,38,199,1) 99%);
}

.projectdescription {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 5%;
  align-items: center;
}

  .projectdescription p {
    font-size: 3vw;
    text-align: justify;
    color: var(--nav-color);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 300;
    margin-bottom: 0;
  }

  #texttoexpand {
    display: none;
  }

  #expand {
    color: var(--nav-color);
    /*font-size: 4vw;*/
    cursor: pointer;
    animation-name: makevisible;
    animation-duration: 4s;
    animation-iteration-count:infinite;
  }

  @keyframes makevisible {
    0% {opacity: 67%; font-size: 4vw;}
    25% {opacity: 100%; font-size: 5vw;}
    50% {opacity: 67%; font-size: 4vw;}
    75% {opacity: 100%; font-size: 5vw;}
    100% {opacity: 67%; font-size: 4vw;}
  }

/* 1000 and up */
@media only screen and (min-width: 1001px) {
    .wrapper {
      height: 70vh;
    }
}